body {
    /*background-color: #4b5320 !important;*/
    /* background-color: #c6d187 !important; */
    /* background-color: #d5dea7 !important; */
    /* background: -webkit-linear-gradient(bottom, #030, #d5dea7); */
    /* background-image: url('../assets/images/c2ctradoc.jpg') !important; */
} 

.header a.logo {
    color: #ffffff !important;
}

.main-footer {
    background: #030 !important;
    padding: .9rem 1.3rem !important;
    /* font-size: .65rem !important; */
    font-size: 12px !important;
    margin: 0 !important;
    color: #ffffff !important;
}

.header-alt {
    /* background-color: #031206 !important; */
    /* background-color:#d5dea7 !important; */
    background-color: #031206 !important;
}

.authentication-bg {
    /* background-image: url(../nazox/assets/images/megamenu-img.png) !important; */
    background-image: url(../images/c2ctradoc.jpg) !important;
    height: 100vh !important;
    background-size: cover !important;
    background-position: center !important;
}

.dropdown-menu {
    background-color: #d4dba3 !important;
}

.header-actions>li>a.user-settings span.user-name {
    color: #ffffff !important;
    max-width: fit-content !important;
    text-overflow: none !important;
}

.custom-navbar {
    background: #d4dba3 !important;
}

.custom-navbar ul.navbar-nav li.nav-item .nav-link.active-page {
    background: #030 !important;
}

.page-header {
    background: #030 !important;
}

.navbar-toggler {
    background: #030 !important;
}

.content-wrapper {
    background-color: #d4dba3 !important;
}

.custom-navbar ul.navbar-nav li.nav-item .nav-link {
    color: black;
}

.hospital-tiles {
    background: #030 !important;
}

.header-profile-actions .header-user-profile p {
    color: #ffffff !important;
}

.text-danger {
    margin-top: -20px !important;
    font-weight: 900 !important;
}

.btn-sargs-button {
    color: #fff;
    background-color: #030;
    border-color: #030;
}