body {
    background-color: #d5dea7 !important
}

.header {
    background-color: #d5dea7 !important;
    border-bottom: 1px solid #d5dea7;
}

.sidebar {
    background-color: #0c4316 !important;
    border-right: 1px solid #d5dea7;
}

.header .header-left {
    background-color: #0c4316 !important;
    border-bottom: 1px solid #0c4316;
    border-right: 1px solid #d5dea7;
}

.menu-title {
    color: #ffff !important;
    font-size: 16px !important;
}

.sidebar-menu li a {
    font-size: 14px !important;
}

.sidebar-menu li a {
    color: #d5dea7 !important;
}

.sidebar-menu li.active>a {
    color: #0c4316 !important;
    background-color: #d5dea7 !important;
}

.sidebar-menu li>a:hover {
    color: #0c4316 !important;
    background-color: #d5dea7 !important;
}

#toggle_btn {
    color: #0c4316 !important;
}

.top-nav-search .form-control {
    background-color: #ffff !important;
    color: #0c4316 !important;
}

.user-menu.nav>li>a>i {
    color: #0c4316 !important;
}

.user-header {
    background-color: #0c4316 !important;
}

.user-menu.nav>li>a {
    color: #0c4316 !important;
}

.user-header .user-text h6 {
    color: #d5dea7 !important;
}